/* initial general set */

body {
    padding: 0; margin: 0;
    font-family: Arial, Verdana, Geneva, sans-serif;
    color: #000000;
    font-size: 100%;
    background-color: #FAE6CE;
}

p {
    font-size: 1em;
    line-height: 1em;
}

a {
    color: #003366;
}
/************************************************************************************/
body{
    padding: 1.5em;
    background-color: #222222;
    border-radius: 25px;
}

body > h1{ 
    font-family: "Times New Roman", Times, serif;
    color: #F78204;
    padding-left: 1.5em;
    font-size: 2.5em;
    line-height: 1.5em;
}

#container{
    background-color: #FAE6CE;
    border-radius: 25px;
    padding: 1.5em;
}

img{
    width: 3em;
    vertical-align: middle;
    margin: 0.2em;
}

ul {
    list-style-type: none;
}



